* {
    margin: 0;
    padding: 0;
}

.expense-item {
    margin: 3px;
    padding: 10px;
    display: flex;
    background-color: rgb(200, 150, 50);
    border-radius: 10px;
    justify-content: space-between;
}