<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .box {
            max-width: 30rem;
            margin: 5px;
        }
    </style>
</head>

<body data-bs-theme="dark">
    <div class="container box card border-light position-absolute top-50 start-50 translate-middle p-3" id="form-div">
        <form>
            <div class="mb-3">
                <label class="form-label">Enter Name</label>
                <input type="text" class="form-control border-light" id="name">
            </div>
            <div class="mb-3">
                <label class="form-label">Enter Email</label>
                <input type="text" class="form-control border-light" id="email">
            </div>
            <div class="mb-3">
                <label class="form-label">Enter Password</label>
                <input type="password" class="form-control border-light" id="password">
            </div>
            <button type="submit" class="btn btn-light fw-medium" id="signup">Sign up</button>
        </form>
        <p class="text-start my-2">Already have an account: <a class="btn btn-outline-light fw-medium mx-1"
                href="/user/login">Log in</a></p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="/js/signup.js"></script>
</body>

</html>